@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

html,
body,
#root {
    width: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    background: #141414;
    color: white;
    font-family: 'Poppins', sans-serif;
}